*.iml
*.class
*.lst
 
# Package Files #
*.jar
*.war
*.ear
 
# ignore Maven generated target folders
/target/*
/student-web/src/main/webapp/WEB-INF/classes/*
/student-web/log/*
 
# ignore eclipse files
.settings
.metadata
.idea
/target
/student-web/src/main/webapp/WEB-INF/classes
/student-web/log/student-web
