<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <!-- 自动扫描：不扫描controller -->
    <context:component-scan base-package="org.billow">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!--<value>classpath:spring/applicationContext.properties</value>-->
                <value>classpath:env.properties</value>
                <value>classpath:spring/druid.properties</value>
            </list>
        </property>
    </bean>

    <!-- 以静态变量保存Spring ApplicationContext -->
    <bean class="org.billow.utils.bean.BeanUtils"/>
    <!-- 数据源 -->
    <import resource="classpath:spring/spring-druid.xml"/>
    <!-- 整合mybatis -->
    <import resource="classpath:spring/spring-mybatis.xml"/>
    <!-- spring事务 -->
    <import resource="classpath:spring/spring-tx.xml"/>
    <!-- 定时任务 -->
    <!-- 调度工厂:动态配置自动任务 -->
    <!-- <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" /> -->
    <!-- 整合邮件服务 -->
    <import resource="classpath:spring/spring-email.xml"/>
</beans>  