<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher"
		class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<!-- 加密方式 -->
		<property name="hashAlgorithmName" value="md5" />
		<!-- 加密次数 -->
		<property name="hashIterations" value="2" />
	</bean>

	<!-- realm -->
	<bean id="monitorRealm" class="org.billow.common.shiro.MonitorRealm">
		<!-- 设置凭证匹配器，realm按照凭证匹配器的要求进行散列 -->
		<property name="credentialsMatcher" ref="credentialsMatcher" />
	</bean>

	<!-- 缓存管理器 -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml" />
	</bean>

	<!-- securityManager安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="monitorRealm" />
		<!-- 注入缓存管理器 -->
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<!-- <property name="successUrl" value="/home/index" /> -->
		<property name="unauthorizedUrl" value="/login" />
		<property name="filterChainDefinitions">
			<value>
				<!--静态资源直接通过 -->
				/webapp/static/** =anon
				<!--只有admin角色才能访问/menu/menuList /menu/menuList =roles[admin] -->
				<!--具有user:add权限的用户可以访问/user/save -->
				<!-- /user/save =perms[user:add] -->
				<!--所有的请求都要通过验证 -->
				/** = authc
			</value>
		</property>
	</bean>
</beans>